name: Docker Image Build

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

env:
  DEPLOY_NAME: 'sis'
  IMAGE_REPO: 'miaoscraft/sis'
  IMAGE_BASE: 'ghcr.io'

jobs:
  build:
    if: github.repository == 'miaoscraft/sis'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

#      - name: Gen tag
#        id: gen-tag
#        run: echo "tag=$(date +%s)" >> $GITHUB_OUTPUT

      - name: Build the Docker image
        run: |
          docker build . -f Dockerfile.actions --tag ${{ env.IMAGE_BASE }}/${{ env.IMAGE_REPO }}:${{ github.ref_name }}

      - name: Push the Docker image
        timeout-minutes: 3
        run: |
          # docker login --username ${{ secrets.DOCKER_USERNAME }} --password ${{ secrets.DOCKER_PASSWORD }} ${{ env.IMAGE_BASE }}
          docker login --username BaiMeow --password ${{ secrets.GITHUB_TOKEN }} ${{ env.IMAGE_BASE }}
          docker push ${{ env.IMAGE_BASE }}/${{ env.IMAGE_REPO }}:${{ github.ref_name }}

#      - name: Checkout ArgoCD
#        uses: actions/checkout@v4
#        with:
#          repository: BaiMeow/argocd
#          token: ${{ secrets.GH_PAT }} # `GH_PAT` is a secret that contains your PAT
#          path: deploy
#
#      - name: Update ArgoCD
#        run: |
#          cd deploy/${{ env.DEPLOY_NAME }}
#          git config user.name github-actions
#          git config user.email github-actions@github.com
#          sed -i "s|^\(\s*image: '${{ env.IMAGE_BASE }}/${{ env.IMAGE_REPO }}:\)[0-9]\+'|\1${{ steps.gen-tag.outputs.tag }}'|" ${{ env.DEPLOY_NAME }}-deployment.yml
#          git add .
#          git commit -m "update(${{ env.DEPLOY_NAME }}): image"
#          git push